{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger" role="alert">
  {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<div class="container text-center mt-5">
  <div class="row justify-content-center position-absolute top-50 start-50 translate-middle">
    <div class="card p-3 justify-content-center " style="width: 18rem;">
      <p class="font-monospace">
        Deleting Category
      </p>
      <form action="{{url_for('main.delete', cat_id=category.id)}}" class="row g-3" method="post">
        <div class="row-md-6">
          <div class="input-group">
            <input type="text" name="name" class="form-control" placeholder="{{category.name}}" readonly>
          </div>
        </div>
        <div class="row-12">
          <button class="btn btn-outline-success" type="submit">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}